@page "/usuarios/details"
@using Microsoft.EntityFrameworkCore
@using Eventos_PuntoNet.Components.Models
@inject IDbContextFactory<Eventos_PuntoNet.Components.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Usuario</h2>
    <hr />
    @if (usuario is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@usuario.Nombre</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@usuario.Email</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@usuario.Password</dd>
        </dl>
        <div>
            <a href="@($"/usuarios/edit?ci={usuario.Ci}")">Edit</a> |
            <a href="@($"/usuarios")">Back to List</a>
        </div>
    }
</div>

@code {
    private Usuario? usuario;

    [SupplyParameterFromQuery]
    private int Ci { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        usuario = await context.Usuarios.FirstOrDefaultAsync(m => m.Ci == Ci);

        if (usuario is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
